body {
    background-color: beige;
}

h1 {
    color: aqua;
    margin-left: 100px;
    text-shadow: 1px .5px 4px royalblue;
}

.container {
    width: 450px;
    height: 450px;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 54;
}

/* select all squares in the array*/

.container .squares:nth-child(-n+4) {
    background-image: url("../css/images/photo_1.png");
    color: bisque;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 254;
    cursor: pointer;
}

/* select all squares paragraphs in the array*/

.squares:nth-child(-n+4) p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5mm;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px burlywood;
}

/* individually select a square in the array */

.squares:nth-child(1) {
    background: #adaaaa;

}

.squares:nth-child(2) {
    background: whitesmoke;
}

.squares:nth-child(3) {
    background: blanchedalmond;
}

.squares:nth-child(4) {
    background: pink;
}

/* hoover effects */

.container .squares:nth-child(-n+4) {
    background-image: url("../css/images/photo_2.png");
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.squares:nth-child(1):hover {
    background: yellow;
}

.squares:nth-child(2):hover {
    background: ivory;
}

.squares:nth-child(3):hover {
    background: plum;
}

.squares:nth-child(4):hover {
    background: lavenderblush;
}

/* animation effects */

@keyframes race {
     0%, 100% {
        transform: translateY(0px);
        background-image: url("../css/images/photo_3.png");
     }
     50% {
        transform: translateY(330px);
     }
}
